<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="../../../assets/greenW (1).png" alt=""/>
                        <h3>MAKE IT EFFORTLESS FOR PEOPLE TO FIND YOU.</h3>
                        <p>REGISTER YOUR FARMING BUSINESS NOW WITH FARM EAT.</p>
                      
                    </div>
                    <div class="col-md-9 register-right">
                       
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Add  New Farming Business</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                                <input type="text" class="form-control"  placeholder="Name of place *" #name required>
                                        </div>
                                        <div class="form-group">
                                                <input type="text" class="form-control"  type="text" #address required  placeholder="Address *" >
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" #email required placeholder="Email *"  />
                                           
                                        </div>
                                        <div class="form-group">
                                            <input type="tel"  minlength="10" maxlength="10" class="form-control" placeholder="Contact Number *" #tel required />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="Website" #website />
                                            
                                        </div>
                                        <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Facebook" #facebook  />
                                             
                                            </div>
                                        <div class="form-group">
                                                <label>Crops
                                                        <input type="checkbox" #crops checked="checked">
                                                      </label>
                                                      <label >Live Stock
                                                            <input type="checkbox" #liveStock>
                                                        
                                                          </label>
                                                          <label >BeeKeeping
                                                            <input type="checkbox" #beeKeeping>
                                                           
                                                          </label>
                                                          <label  >Aquatic
                                                            <input type="checkbox" #aquatic>
                                        
                                                          </label>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                       
                                        <div class="form-group">
                                                <select class="form-control"  #farmType>
                                                        <option class="hidden"  selected disabled>Select type of urban farm business</option>
                                                        <option value="Vertical Farming">Vertical Farming</option>
                                                        <option value="Traditional Farming">Traditional Farming</option>
                                                        <option value="Green House">Green House</option>
                                                    </select>
                                            
                                        </div>
                                        
                                       
                                        <div class="form-group">
                                            
                                            <textarea id="subject" placeholder="Description of a Farm..*" name="subject" class="form-control" style="height:200px " #description required></textarea>
                                        </div>
                                        <div class="form-group" > 
                                                <label  >Upload Picture</label>

                                        </div>
                                        <div class="form-group">
                                               
                                                <input type="file"class="form-control" accept="image/*" placeholder="Upload images*" (change)="insertImage($event)" />
                                            </div>
                                          
                                       
                                        <input   class="btnRegister" (click)="initMap (name.value, address.value,farmType.value, description.value, crops.value, liveStock.value, beeKeeping.value, aquatic.value, email.value, tel.value, website.value, facebook.value)" type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>