<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
</head>
<body class="body">
  <div id="mySidenav" class="sidenav">  
 
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"> &times;</a>
    
    <br>
    <br>
    <a routerLink="/addedfarms"><span class="icons"> </span>Home</a>
    <br>
    <br>
    <a routerLink="/newsfeed"><span class="icons"> </span>News Feed</a>
    <br>
    <br>
    <a (click)="logout()"><span class="icons"> </span>Logout</a>
    <br>
    <a routerLink="/dashboard"><span class="icons"> </span>Add Farm</a>
    <br>
    <a routerLink="/geo"><span class="icons"> </span>Profile</a>

  </div>
  <div id="main" class="container">
    </div>


 <div >
   <span  style="font-size:30px;cursor:pointer" class="menuside" (click)="openNav()">&#9776; </span> 
   <img class="topimg" src="../../../assets/1841196866.jpeg" alt="" srcset="">
 </div>
 



<div class="flex">
    <!-- <img class="leftimg" src="../../../assets/Illustration-with-Variable-Rate_forWP.jpg" alt="" > -->
    
<div class="container2">
    <h1 class="lefthead">My Farms</h1>
    <div class="left" *ngFor="let profile of profileArray" (click)="getFArm(profile.k)" >

      <div class="leftcontain">
          <h1 class="lefthead">{{profile.name}}</h1>
        <div class="leftcard" >
            
          <div class="leftleft" >
              <!-- <h1 class="">{{profile.name}}</h1> -->
              <img class="leftleftimg" src="{{profile.image}}" alt="" srcset="">
          
          </div>
          <div class="leftright">
           {{profile.description}}
          </div>
  
        </div>
      </div>
        
  
    </div>
</div>


  <div class="right">
    <h1 class="righthead"> Company description</h1>
    <hr>
    <div  class="rightcard">
      <div  class="rightleft">
       <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-building"></i>{{FarmObj.name}}</h2>
    <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-map-marker"></i>{{FarmObj.address}} </h2>
    <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-envelope"></i> {{FarmObj.email}}</h2>
    <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-phone"></i> {{FarmObj.tel}}</h2>
    <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-laptop"></i>{{FarmObj.website}}</h2>
    <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fab fa-facebook"></i>{{FarmObj.facebook}}</h2>
    <h2 class="round"> <i  class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-tree"></i>{{FarmObj.type}}</h2>
    <h2 class="round"><i class="iconss" style="font-size:30px;color:#507108; padding: 8px " class="fas fa-home"></i>Greenhouse</h2>
    </div>
   
    <div class="rightright">

      <h1 class="righthead">About us</h1>
    <h3  style="padding:16px" class="description">{{profile.description}}</h3>
    <h1 class="righthead">What we offer</h1>
    <div class="flex-container">
        <div><img class="iconimg" src="../../../assets/icons/icons8-banana-48.png" alt="" srcset=""></div>
        <div><img class="iconimg" src="../../../assets/icons/icons8-beet-48.png" alt="" srcset=""></div>
        <div><img class="iconimg" src="../../../assets/icons/icons8-broccoli-48.png" alt="" srcset=""></div>
        <div><img class="iconimg" src="../../../assets/icons/icons8-chicken-48.png" alt="" srcset=""></div>
      
        <div><img class="iconimg" src="../../../assets/icons/icons8-banana-48.png" alt="" srcset=""></div>
        <div><img class="iconimg" src="../../../assets/icons/icons8-beet-48.png" alt="" srcset=""></div>
        <div><img class="iconimg" src="../../../assets/icons/icons8-broccoli-48.png" alt="" srcset=""></div>
        <div><img class="iconimg" src="../../../assets/icons/icons8-chicken-48.png" alt="" srcset=""></div>

        
      </div>
     
    <button class="button" (click)="nextpageupdate()">Update</button>
    </div>
    </div>
    
    
   
  </div>
  
</div>
<!-- <div class="leftz"  *ngFor="let profile of profileArray" (click)="getFArm(profile.k)">

    <h1 class="lefthead">{{profile.name}}</h1>
    <div class="leftcard" >
      <div class="leftleft" >
        
          <img class="leftleftimg" src="{{profile.image}}" alt="" srcset="">
      
      </div>
      <div class="leftright">
       {{profile.description}}
      </div>

    </div>

</div> -->
</body>
</html>
