<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <title>Add your News here</title> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="main.js"></script>
</head>
<body > 
                <div id="mySidenav" class="sidenav">  
   
                                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                              <br>
                              <br>
                             <a routerLink="/dashboard"><span class="icons"> &nbsp; </span>Home</a>
                              <br>
                              <br>
                              <a routerLink="/newsfeed"><span class="icons"> &nbsp; </span>News Feed</a>
                              <br>
                              <br>
                              <!-- <li><a routerLink="/geo"><span class="icons"><img class="imgg" src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Add Farms</a></li> -->
                              
                              <a (click)="logout()" ><span class="icons">&nbsp; </span>Logout</a>
                          
                            </div>
                            
                            <div id="main" class="container">
                                    <span style="font-size:30px;cursor:pointer" class="menuside" (click)="openNav()">&#9776; </span>
                                        <div  class="form-container">
                                                        <form>
                                                                <header class="head-form">
                                                                    <h1 style="color:white ">Add your News here</h1>
                                                                </header>
                                                                <br>
                                                                <br>
                                                                <div class="row" >
                                                                    <div class=col-25 >
                                                                            <label for="Checkin Date">News Title</label>
                                                                    </div>
                                                                    <div class="col-75" >
                                                                            <input type="text" #title required>
                                                                    </div>
                                        
                                                                </div>
                                                                <div class="row" >
                                                                        <div class=col-25 >
                                                                                <label for="Checkin Date">Type your news message here</label>
                                            
                                                                        </div>
                                                                        <div class="col-75" >
                                                                                <br>
                                                                                <textarea  align ="center" rows="20" cols="100" class="form-input" type="text" #message required></textarea>
                                            
                                                                        </div>
                                            
                                                                    </div>
                                                                    <div class="row" >
                                                                            <div class=col-25 >
                                                                                    <br>
                                                                                    
                                                                                    <label>Add image</label> 
                                                
                                                                            </div>
                                                                            <br>
                                                                            <br>
                                                                            <div class="col-75" >
                                                                                    <input type="file" accept="image/*" (change)="insertImage($event)" >
                                                
                                                                            </div>
                                                                            <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                            <input (click)="newsfeed(title.value , message.value)"type="submit" value="Submit">
                                                                        </div>
                                                                        
                                                                 
                                                                  <!-- <button (click)="newsfeed(title.value , message.value)">Newsfeed</button> -->
                                                                   
                                                       
                                                             
                                                            </form>
                                                </div>

  </div>
     
</body>

</html>

