<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
</head>
<body>
  <h1>Login</h1>
    <input type="email" placeholder="Email" #email>
    <input type="password" placeholder="Password" #password>
    <button (click)="Login(email.value, password.value)">Login</button>
</body>
</html> -->
<!DOCTYPE html>
<html  align="center" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Page</title>
</head>
<body align="center">
  <h1 class="header" >SignIn</h1>
  <div  class="body" >
 <!-- <div  class="input" >
    <span>
       <input type="text"  class="input" placeholder="Name" #name>  
    </span>
  </div> -->
  <br>
  <div  class="input" >
     <span>
            <input type="email"  class="input" placeholder="Email" #email>
       </span> 
  </div>
  <div  class="input" >
    <br>
 <span>
        <input  type="password"  class="input"   placeholder="Password" #password>
       </span>
       <br>

  </div>
  </div>
  <br>
  <br> 
    
  <button  id="button" (click)="Login(email.value, password.value)">Login</button>


<br>
<br>
</body>
</html>