body{
    background-color: #087150;
    align-content: center;
    border: solid 2px #04A36F;
    width: 40%;
    background-repeat: no-repeat;
    font-family: 'Oxygen', sans-serif;
       background-size: cover;
       width: 300px;
       min-height: 200px;
       height: auto;
       border-radius: 5px;
       margin: 2% auto;
       /* box-shadow: 2px 5px 5px 10px #04A36F ; */
       padding: 5%;
}

#button{
    color: white;
    background-color:#04A36F;
    width: 50%;
    height: 30px;
}

button {
    display: inline-block;
    color: white;
  
    width: 20em;
    height: 5em;
  
    padding: 0 20px;
    background: #04A36F;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
    display: block;
    margin: 0 auto;
}
header {
    margin: 2% auto 10% auto;
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
} */
h1{
    color: white;
}




input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box  ;
    border-color: #04A36F;  
    background-color:	#0B2816;
}
input,textarea{
    text-align: center;
    color: 	#28ECAC;
}
::placeholder {
    color: #28ECAC;
    font-size: 1em;
  }


