
<!-- 
    
 <ul class="side-menu">
    <li><a href="#"><span class="icons"><img src="../assets/icons8-menu-48 (1).png" width="46px" height="46px"></span>Superguide</a></li>
    <li><a routerLink="/home"><span class="icons"><img src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Home</a></li>
    <li><a routerLink="/newsfeed"><span class="icons"><img src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>News Feed</a></li>
    <li><a routerLink="/geo"><span class="icons"><img src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Add Farms</a></li>
    <li><a routerLink="/login"><span class="icons"><img src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Login</a></li>
    <li><a routerLink="/register"><span class="icons"><img src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Register</a></li>
    <li><a href="#"><span class="icons"><img src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Logout</a></li>
</ul> -->
<base href="/">
<router-outlet></router-outlet>