<!-- 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    
 <div class="con" >
    
<div class="container" >
    
        <div class="col-12 ">
       <div class="aside">
           <div class="login-wrap">
               
               <div class="login-html"> 
                   <div class="signinup"></div>
                      <h2>DISCOVER YOUR LOCAL FARMS WITH</h2>
                      <h1>FARM-EAT</h1>
                    <br> 
                    
                   <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                   <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                   <div class="login-form">
                       <div *ngIf="forgot == 0; else forgotPressed"></div>
                       <ng-template #forgotPressed>
                           <p class="emailForget">    Please enter your email address and submit</p>
                       
                       </ng-template>
                       <div class="sign-in-htm col-md-6 ">
                           <div class="group">
                               <label for="pass" class="label">Email Address</label>
                               <input id="pass" type="text"  class="col-md-12"  pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required #email [(ngModel)]="emailLogin" >
                           </div>
                           <div class="group">
                               <label for="pass" class="label">Password</label>
                               <input id="pass" type="password" class="col-md-12" data-type="password" #password  [(ngModel)]="passwordLogin" >
                             </div>
                             <div class="group">
                               <input type="submit" class="button" value="{{content}}" (click)="
                               ()">
                             </div>
                       
                             <div class="foot-lnk">
                               <a href="#forgot" (click)="forgetpassword()">Forgot Password?</a>
                             </div>
                       </div>
                   


                    

                       <div class="sign-up-htm">
                            <div class="sign-up-htm col-md-6 ">
                           <div class="group">
                             <label for="user" class="label">Username</label>
                             <input id="pass" type="text" class="col-md-12" #rName [(ngModel)]="username" >
                           </div>
                           <div class="group">
                               <label for="pass" class="label">Email Address</label>
                               <input id="pass" type="text" class="col-md-12" #rEmail  [(ngModel)]="emailz">
                           </div>
                           <div class="group">
                             <label for="pass" class="label">Password</label>
                             <input id="pass" type="password" class="col-md-12" data-type="password" #rPassword  [(ngModel)]="pass">
                           </div>
                           
                           <div  class="group"  >
                             <input type="submit" class="button" value="Sign Up" (click)="Registerz()">
                           </div>
                         </div>
                        </div>
                   </div>
             </div>
             </div>
       </div>
     </div>
   
   
   </div>

   
    
   
</div>
      
</body>
 -->


 <head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 </head>
    
 <head>
	<title>My Awesome Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->

<!DOCTYPE html>
<html>
<body>
	<div class="container h-100"  id="register"  >
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
            <img src="../../../assets/icon newf (1).png" style="background-color: white" class="brand_logo" alt="Logo">
         
          </div>
         
        </div>
     
        <h1 style="text-align: center; color: white; padding: 16px; text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.548)" >Farm-Eat</h1>
				<div class="d-flex justify-content-center form_container">
          
          <div>
            
          </div>
					<div>
             
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" value="" placeholder="Company name" #rName [(ngModel)]="username">
            </div>
               
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" value="" placeholder="Email" [(ngModel)]="emailz">
            </div>
            
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control input_pass" value="" placeholder="Password" #rPassword  [(ngModel)]="pass">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<!-- <label class="custom-control-label" for="customControlInline">Remember me</label> -->
							</div>
						</div>
          </div>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="button" name="button" class="btn login_btn" value="Sign Up" (click)="Registerz()">Sign Up</button>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links" style="color:white" >
						Don't have an account? <a href="#" class="ml-2 tablinks"  (click)="Logintab()"><b >Sign In</b></a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
  </div>
  

<!-- login -->
 
      <div class="container h-100" id="Login">
          <div class="d-flex justify-content-center h-100">
            <div class="user_card">
              <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                  <img src="../../../assets/icon newf (1).png" style="background-color: white" class="brand_logo" alt="Logo">
               
                </div>
               
              </div>
           
              <h1 style="text-align: center; color: white; padding: 16px; text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.548)" >Farm-Eat</h1>
              <div class="d-flex justify-content-center form_container">
                
                <!-- <div *ngIf="forgot == 0; else forgotPressed"></div> -->
                <!-- <ng-template #forgotPressed>
                    <p class="emailForget">    Please enter your email address and submit</p>
                
                </ng-template> -->
                <div>
                   
                  <!-- <div class="input-group mb-3">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="" class="form-control input_user" value="" placeholder="Company name">
                  </div> -->
                     
                  <div class="input-group mb-4">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" class="form-control input_user" placeholder="Email" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required #email [(ngModel)]="emailLogin">
                  </div>
                 
                  <div class="input-group mb-4">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password"  class="form-control input_pass"  placeholder="Password" #password  [(ngModel)]="passwordLogin">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customControlInline">
              
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-3 login_container">
                <button type="submit" name="button" class="btn login_btn"  value="{{content}}"  (click)="Login()" >Login</button>
              </div>
              <div class="mt-4">
                <div class="d-flex justify-content-center links" style="color:white" >
                  Don't have an account? &nbsp; <a href="#" class="ml-2 tablinks"   (click)="registertab()"><b > Sign Up</b></a>
                </div>
                <div class="d-flex justify-content-center links">
                  <a (click)="forgetpassword()">Forgot Password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>

</body>
</html>

