

  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
    background-image:linear-gradient(rgba(85, 87, 85, 0.315),rgba(0,0,0,0.5)),url('../../../assets/Illustration-with-Variable-Rate_forWP.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }

  .heading-primary{
    color: white;
    text-transform: uppercase;
    padding: 5%;
    margin-top: 7%;
}

.heading-primary-main{
    display: block;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 6px;
    animation: moveInLeft 1s ease-out;
    text-align: center;
}
.heading-primary-sub{
	text-align: center;
    display: block;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 17.4px;
    animation: moveInRight 1.5s ease-out;
}
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    /* background-color: #33b5e5; */
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
  }

  a[_ngcontent-c1]{
	color: white;
}

.content{
	position: relative;
	color: white;
	font-size: 2em;
	top: 50%;
	/* padding-left: 25%;
	padding-top: 20% */
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    width:100%;
    height: 100%;
    /* margin-left: 65%; */
	max-width:600px;
	min-height:670px;
	position:relative;
	top: 10%
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
	/* box-shadow:0 12px 15px 0 rgba(104, 197, 16, 0.24),0 17px 50px 0 rgba(139, 214, 162, 0.19); */
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(221, 228, 226, 0.534);
	

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#eea111d2;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:10px;
    margin-top: 30px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{

	border:none;
	padding:15px 20px;
	border-radius:25px;
	/* background:rgba(51, 231, 147, 0.623); */
	align-content: center;
	position: relative;
	left: 4%;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;


}
.login-form .group .label{
	color:white;
    font-size:13px;
    padding-bottom: 5px;
}
.input{
	background-color: #164939;

}

.login-form .group .button{
	background:#087150;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255, 255, 255, 0.144);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#11ee78;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
	color: black
}
.login-html[_ngcontent-c1]{
	width: 100%;
	height: 100%;
	
}
  
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }