<!-- 

<!-- <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      </head>
    <body >  -->
      <!-- <div id="mySidenav" class="sidenav">  
       
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"> &times;</a>
        
        <br>
        <br>
        <a routerLink="/dashboard"><span class="icons"> </span>Home</a>
        <br>
        <br>
        <a routerLink="/newsfeed"><span class="icons"> </span>News Feed</a>
        <br>
        <br>
        <a (click)="logout()"><span class="icons"> </span>Logout</a>
        <br>
        <a routerLink="/addedfarms"><span class="icons"> </span>Added Farms</a>
        <br>
      
    
      </div> -->
      <!-- <div #map id='map'></div>  -->
  
    <!-- <div id="main" class="container">

            </div> -->

<!-- <div class="container">

    

        <div id="products" class="row view-group">
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Product title</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
   
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Product title</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
             
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Product title</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Product title</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Product title</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  
                            </div>
                        </div>
                    </div>
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    Product title</h4>
                                <p class="group inner list-group-item-text">
                                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
         
                            </div>
                        </div>
                    </div>
                </div>
    </div>
         -->
    

    
    <!-- </body> -->
    

 






  <!-- <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

  </head>
  <body>
             <div id="map"></div>
           <div class="side">
                <div class="header">
                    Farms
                </div>
             <div class=container *ngFor="let a of farmsOnSlide">
                 <img src="../../../assets/farm.jpg" alt="">
               <div class="card" >
                       <h5>{{a.name}}</h5>
                     
                    </div>  
             </div>
                    
            </div>
         
  </body> -->


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
        <div id="main" class="container">
            </div>
        <div id="mySidenav" class="sidenav">  
   
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"> &times;</a>
               
              <br>
              <br>
             <a routerLink="/addedfarms"><span class="icons"> </span>Home</a>
              <br>
              <br> <a routerLink="/dashboard"><span class="icons"> </span>Add Farm</a>
              
              <br>
              <br>
            <a routerLink="/newsfeed"><span class="icons"> </span>News Feed</a>
              <br>
              <br>
              <a routerLink="/profile"><span class="icons"> </span>Profile</a>
              <br>
              <br>

               <a (click)="logout()"><span class="icons"> </span>Logout</a>
              <br>
            
          
            </div>

      <div class="topdiv">
            <span style="font-size:30px;cursor:pointer" class="menuside" (click)="openNav()">&#9776; </span>
          <h1>MAKE IT EFFORTLESS FOR PEOPLE TO FIND YOU.</h1>
      </div>
       <div id="map"></div>
  
  <section>
       
  <div class="container">
  
      
          <div class="row mbr-justify-content-center">
  
              <div class="col-lg-6 mbr-col-md-10"  *ngFor="let a of farmsOnSlide">
                  <div class="wrap">
                      <div class="ico-wrap">
                          <span class=""  ><img class="image" src="{{a.image}}" alt=""></span>
                      </div>
                      <div class="text-wrap vcenter">
                          <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">{{a.name}}</h2>
                          <p class="mbr-fonts-style text1 mbr-text display-6">{{a.description}}</p>
                          
                      </div>
                      <!-- <div class="flex-container">
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>  
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>  
                            <div>7</div>
                            <div>8</div>
                            <div>9</div>  
                            <div>10</div>
                            <div>11</div>
                            <div>12</div>  
                          </div> -->
                       <!-- <div class="dee"  *ngFor="let item of a.products" >
                        <div>
                             <span> <img src="{{item}}" alt=""></span>
                         
                        </div>
                      </div>  -->
                 
                  </div>
              
              </div>
  
              
          </div>
  
  </div>
  
  </section>
</body>
