


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
        <div id="main" class="container">
            </div>
        <div id="mySidenav" class="sidenav">  
   
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"> &times;</a>
               
              <br>
              <br>
             <a routerLink="/addedfarms"><span class="icons"> </span>Home</a>
              <br>
              <br> <a routerLink="/dashboard"><span class="icons"> </span>Add Farm</a>
              
              <br>
              <br>
            <a routerLink="/newsfeed"><span class="icons"> </span>News Feed</a>
              <br>
              <br>
              <a routerLink="/profile"><span class="icons"> </span>Profile</a>
              <br>
              <br>

               <a (click)="logout()"><span class="icons"> </span>Logout</a>
              <br>
            
          
            </div>

      <!-- <div class="topdiv">
            <span style="font-size:30px;cursor:pointer" class="menuside" (click)="openNav()">&#9776; </span>
          <h1>MAKE IT EFFORTLESS FOR PEOPLE TO FIND YOU.</h1>
      </div> -->
       <div id="map"></div>
  
  <!-- <section>
       
  <div class="container">
  
      
          <div class="row mbr-justify-content-center">
  
              <div class="col-lg-6 mbr-col-md-10"  *ngFor="let a of farmsOnSlide">
                  <div class="wrap">
                      <div class="ico-wrap">
                          <span class=""  ><img class="image" src="{{a.image}}" alt=""></span>
                      </div>
                      <div class="text-wrap vcenter">
                          <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">{{a.name}}</h2>
                          <p class="mbr-fonts-style text1 mbr-text display-6">{{a.description}}</p>
                          
                      </div>
        
                 
                  </div>
              
              </div>
  
              
          </div>
  
  </div>
  
  </section> -->
</body>


    <body>
        <div></div>
        <div class="main-container">

        
        <div *ngFor="let a of farmsOnSlide" >
            <div class="list" >
                <div class="image-container" >
                    <img class="img-container" src="{{a.image}}" alt="">
                  
                </div>
                <div class="right-container" >
                    <div class="name">
                    <p>{{a.name}}</p>
                </div>
            </div>
               
    
            </div>
    
        </div>
    </div>
    </body>
