

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="main.js"></script>
  </head>
<body > 
   <!-- <span style="font-size:30px;cursor:pointer" (click)=" openNav()">&#9776; </span> -->
  <div id="mySidenav" class="sidenav">  
   
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <ul  >
    <br>
    <li><a routerLink="/dashboard"><span class="icons"><img class="imgg"  src="../../../assets/icons8_Home_Page_100px.png" width="40px" height="40px"> &nbsp; </span>Home</a></li>
    <br>
    <li><a routerLink="/newsfeed"><span class="icons"><img class="imgg"  src="../../../assets/icons8_News_100px_1.png" width="40px" height="40px"> &nbsp; </span>News Feed</a></li>
    <br>
    <!-- <li><a routerLink="/geo"><span class="icons"><img class="imgg" src="../assets/icons8-plus-96.png" width="46px" height="46px"></span>Add Farms</a></li> -->
    <br>
    <li (click)="logout()"><a ><img class="imgg"  src="../../../assets/icons8_Logout_Rounded_Up_100px.png" width="40px" height="40px"><span class="icons">&nbsp; </span>Logout</a></li>
</ul>
  </div>
  <div id="main">
      
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; </span>
  

    <div class="row" >
      <div class="col-25" >
        <img class="images" src="../../../assets/farm.jpg" >
      </div>
      <div class="col-75" >
          <div class="container">
              <form action="/action_page.php">
                <div class="row">
                  <div class="col-25">
                          <label for="Checkin Date">Name of Place</label>
                  </div>
                  <div class="col-75">
                          <input class="form-input" type="text" #name required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                          <label for="Checkin Date">Address</label>
                  </div>
                  <div class="col-75">
                          <input class="form-input" type="text" #address required>
                  </div>
                </div>
                <div class="row">
                      <div class="col-25">
                              <label for="Checkin Date">Email</label>
                      </div>
                      <div class="col-75">
                              <input class="form-input" type="text" #email required>
                      </div>
                    </div>
                    <div class="row">
                          <div class="col-25">
                                  <label for="Checkin Date">Contact Number</label>
                          </div>
                          <div class="col-75">
                                  <input class="form-input" type="text" #tel required>
                          </div>
                        </div>
                        <div class="row">
                              <div class="col-25">
                                      <label for="Checkin Date">Website</label>
                              </div>
                              <div class="col-75">
                                      <input class="form-input" type="text" #website required>
                              </div>
                            </div>
                            <div class="row">
                                  <div class="col-25">
                                          <label for="Checkin Date">Facebook</label>
                                  </div>
                                  <div class="col-75">
                                          <input class="form-input" type="text" #facebook required>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-25">
                                        <label for="Checkin Date">Select type of urban farm business</label>
                                      </div>
                                      <div class="col-75">
                                          <select class="dropdown" #farmType>
                                  <option value="Vertical Farming">Vertical Farming</option>
                                  <option value="Traditional Farming">Traditional Farming</option>
                                  <option value="Green House">Green House</option>
                              </select>
                          </div>
                      </div>
                      <div class="row" >
                                    <div class="col-25">
                                        <label for="offer"> What you offer </label> 
                                      </div> 
                                      <div class="col-75">
                                          <label>Crops
                                          <input type="checkbox" #crops checked="checked">
                                        </label>
                                       
                                        <label >Live Stock
                                          <input type="checkbox" #liveStock>
                                      
                                        </label>
                                        <label >BeeKeeping
                                          <input type="checkbox" #beeKeeping>
                                         
                                        </label>
                                        <label  >Aquatic
                                          <input type="checkbox" #aquatic>
                      
                                        </label>
                                    </div>
                                    </div >
      
                                    <div class="row">
                                        <div class="col-25">
                                              <label  >Upload a picture</label>
                                      </div>
                                      <div class="col-75">
                                              <input type="file" accept="image/*" (change)="insertImage($event)" />
      
                                      </div>
      
                                    </div>
    
            
                <div class="row">
                  <div class="col-25">
                     <label for="Checkin Date">Description</label>
                  </div>
                  <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" #description required></textarea>
                  
                  </div>
                </div>
                <div class="row">
      
                  <input (click)="initMap(name.value, address.value,farmType.value, description.value, crops.value, liveStock.value, beeKeeping.value, aquatic.value, email.value, tel.value, website.value, facebook.value)" type="submit" value="Submit">
                </div>
              </form>
            </div>
      </div>

    </div>
    
  
  
    </div>

</body>
