@import 'https://fonts.googleapis.com/css?family=Roboto';
.side-menu {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100px;
  list-style-type: none;
  background: rgb(8,133,80);
  overflow: hidden;
  transition: width .5s;
}

.side-menu:hover {
  width: 300px;
}

.side-menu li {
  width: 300px;
  /* margin-top: 10%; */
}

.side-menu li span {
  font-size: 1rem;
  margin: 50px 40px 50px 25px;
}

.side-menu li a {
  display: block;
  font-size: .9rem;
  text-decoration: none;
  color: #FFF;
  height: 80px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
  background: #eea111d2;
  display: block;
 
}

.main{
    margin-left: 100px
}

/* .icons{
    display: block;
    margin: 0 auto;
} */